<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.detectionservice.mapper.ProductMapper">
    <resultMap id="ProductsMap" type="com.work.detectionservice.entity.Products">
        <id property="serialNumber" column="serial_number"/>
        <result property="frontImage" column="front_image"/>
        <result property="backImage" column="back_image"/>
        <result property="userId" column="user_id"/>
        <result property="defectLevel" column="defect_level"/>
    </resultMap>

    <insert id="insertProductData" parameterType="com.work.detectionservice.entity.Products">
        INSERT INTO products (serial_number, front_image, back_image, user_id, defect_level)
        VALUES (#{serialNumber}, #{frontImage}, #{backImage}, #{userId}, #{defectLevel})
    </insert>

    <update id="updateDefectLevel" parameterType="com.work.detectionservice.entity.Products">
        UPDATE products SET defect_level = #{defectLevel} WHERE serial_number = #{serialNumber}
    </update>

    <select id="findSerialNumberByUserId" resultType="String">
        SELECT serial_number FROM products WHERE user_id = #{userId}
    </select>

    <select id="findProductBySerialNumber" resultMap="ProductsMap">
        SELECT * FROM products WHERE serial_number = #{serialNumber}
    </select>
    
    <select id="countProduct" resultType="Integer">
        SELECT COUNT(*) FROM products
    </select>
</mapper>