<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.reportservice.mapper.ReportMapper">
    <resultMap id="ReportMap" type="com.work.reportservice.entity.Reports">
        <id property="reportId" column="report_id"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="frontDefectImg" column="front_defect_img"/>
        <result property="backDefectImg" column="back_defect_img"/>
        <result property="serialNumber" column="serial_number"/>
    </resultMap>

    <select id="findByReportId" resultMap="ReportMap">
        SELECT * FROM reports WHERE report_id = #{reportId}
    </select>

    <select id="findSerialsByReportIds" resultType="string">
        SELECT serial_number FROM reports WHERE report_id IN
        <foreach collection="reportIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findDistinctReportIdsBySerialNumbers" resultType="int" parameterType="java.util.List">
        SELECT DISTINCT report_id
        FROM reports
        WHERE serial_number IN
        <foreach collection="list" item="serial" open="(" separator="," close=")">
            #{serial}
        </foreach>
    </select>

    <select id="findAllReport" resultMap="ReportMap">
        SELECT * FROM reports
                          LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countReports" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM reports
    </select>

    <select id="findReportBySerialNumber" resultMap="ReportMap">
        SELECT * FROM reports
        WHERE serial_number = #{serialNumber}
        ORDER BY report_id
            LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="countReportsBySerialNumber" resultType="int">
        SELECT COUNT(*) FROM reports WHERE serial_number = #{serialNumber}
    </select>

    <update id="changeReport" parameterType="com.work.reportservice.dto.ChangeReport">
        UPDATE reports SET content = #{content} WHERE report_id = #{reportId}
    </update>

    <insert id="insertReport" parameterType="com.work.reportservice.entity.Reports" useGeneratedKeys="true" keyProperty="reportId">
        INSERT INTO reports (content, created_at, front_defect_img, back_defect_img, serial_number)
        VALUES (#{content}, #{createdAt}, #{frontDefectImg}, #{backDefectImg}, #{serialNumber})
    </insert>

    <select id="findExportReportsByIds" resultType="com.work.reportservice.dto.OutReport">
        SELECT content, created_at, front_defect_img, back_defect_img, serial_number
        FROM reports
        WHERE report_id IN
        <foreach collection="reportIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="findExportReportById" resultType="com.work.reportservice.dto.OutReport">
        SELECT content, created_at, front_defect_img, back_defect_img, serial_number
        FROM reports
        WHERE report_id = #{id}
    </select>

    <delete id="deleteByReportId">
        DELETE FROM reports
        WHERE report_id IN
        <foreach collection="reportIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteBySerialNumber">
        DELETE FROM reports
        WHERE serial_number IN
        <foreach collection="serialNumbers" item="sn" open="(" separator="," close=")">
            #{sn}
        </foreach>
    </delete>
</mapper>